/* GENERAL */
@font-face {  font-family: 'ChaletComprime';  src: url('ChaletComprime-HongKongEigt.otf');  }

html, body {

color: white;

background: #F7EFC5 url(../img/main-background.png) repeat-x top center; /* Old browsers */
height: 100%;
}

h1{
	font-family: Helvetica, sans-serif;
}


li{
	list-style: none;
}
div#header{
	padding: 40px auto 0px auto;
	padding-top: 40px;
	min-width:960px;
	max-width:960px;
	min-height: 140px;
	max-height: 140px;
	position: relative;
	margin: auto;
	margin-bottom: 60px;
}

a#banner{
	z-index:0;
	display: inline-block;
	position:absolute;
}

a.logo{
	z-index: 5;
	display: inline-block;
	position:absolute;
	float:left;
}

a#logo-itdp{
	left:100px;
	top:100px;
}

a#logo-embajada{
	left:0px;
	top:0px;
}

a#logo-fundar{
	left:740px;
	top:80px;
}

a#logo-opendata{
	left:830px;
	top:80px;
}

div#wrapper{
	padding-bottom: 80px;
	overflow: hidden;
}

div#footer{
	background: #B1C800 url("../img/footer.png") repeat-x; 
	border-top:3px dotted #DC8526;
    clear:both;
	min-height: 276px; 
    margin-top: -150px; /* negative value of footer height */
	min-width: 1024px;
	position: relative;	
	padding-top:20px; 
} 

div#footer div#content{
	min-width: 900px;
	max-width: 900px;
	margin:auto 
}

div#footer a#invest{
	float: right;
}

div#footer a#more_info{
	float: left;
}
/* END GENERAL*/
